*,
*::before,
*::after {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
  caret-color: transparent !important;
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: 0 !important;
  scroll-behavior: auto !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}
